<html>
<head>
    <title>Faceswap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="faceswap.css">
    {% include '_firestore.html.twig' %}
    <script>{% block javascript %}{% endblock %}</script>
    <style>{% block styles %}{% endblock %}</style>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Faceswap</h1>
        </div>
    </div>
    <div class="container theme-showcase" role="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
