{% extends 'base.html.twig' %}

{% block content %}

{% if error is defined and error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if faceImage is defined and baseImages is defined %}
<div class="row">
    <div class="col col-md-12 result-images">
        {% for baseImage in baseImages %}
            <div class="col col-md-3 result-image" id="faceswap-img{{loop.index - 1}}">
                <img src="data:image/jpeg;base64, {{ baseImage }}" style="opacity:0.5" />
                <img src="three-dots.svg" class="loading" />
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<form class="faceswap-upload-form" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="page-header">
            <h2>Image Upload</h2>
        </div>
        <div id="form">
            <p>
                <label for="form_face_image" class="required">Face image</label>
                <input type="file" id="form_face_image" name="face_image" required="required" accept="images/*" class="btn btn-default" />
            </p>
            <p>
                <label for="form_base_images" class="required">Base images</label>
                <input type="file" id="form_base_images" name="base_images[]" required="required" accept="images/*" multiple="true" class="btn btn-default" />
            </p>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Upload" class="btn btn-lg btn-primary" />
    </p>
</form>

{% if documentId is defined %}
<script>
db = firebase.firestore();
db.collection("faceswap").doc('{{ documentId }}')
.onSnapshot(function(doc) {
    for (var i in doc.data()) {
        if (!document.getElementById('faceswap-image-' + i)) {
            img = new Image();
            img.src = 'data:image/jpeg;base64,' + doc.data()[i].e;
            img.id = "faceswap-image-" + i;
            div = document.getElementById('faceswap-' + i);
            div.innerHTML = '';
            img.onload = function() {
              div.appendChild(img);
            };
        }
    }
});
</script>
{% endif %}

{% endblock %}

{% block styles %}
{% if cols is defined %}
.base-images .image-crop {
    width: {{ 360/cols }}px;
    height: {{ 360/cols }}px;
}
.base-images img {
    width: {{ 360/cols }}px;
}
{% endif %}
{% endblock %}
