.sign::before {
  font-size:200px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.plus::before {
  content:"+";
}

.equals::before {
  content:"=";
  color:#FDAA4C;
}

.col img {
  max-width:100%
}

.base-images .image-crop {
  float:left;
}

.result-image {
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.result-image .loading {
  position:absolute;
  top: 48%;
  margin-left: 32%;
  width:30%;
}